.defaultContainer {
    width: 600px;
    height: 44px;
    background-color: white;
    font-family: Roboto,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-around;
    padding: 10px;
    box-shadow: 2px 3px 6px #00000029;
    border: 1px solid #E5DAFC;
    border-radius: 10px;
}

.font {
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.25rem;
    color:gray; 
    flex-grow: 3;
}

.icons {
    flex-grow: 0.2;
}

.expandedContainer {
    width: 600px;
    height: 135px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 5px 15px 15px;
    box-shadow: 2px 3px 6px #00000029;
    border: 1px solid #E5DAFC;
    border-radius: 10px;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.25rem;
    color:gray; 
}

.noteIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

