.forget-password-container {
    width: 400px;
	height: 450px;
	margin-top: 210px;
	margin-bottom: 90px;
	
}

.f {
	color: #4285F4;
}
.u {
	color: #DB4437;
}
.n {
	color: #F4B400;
}
.o {
	color: #0F9D58;
}

.fundoo-font {
	padding-top: 35px;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 2.0em;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.email-recovery {
    display: flex;
    justify-content: center;
    align-items: center;
	color: black;
	font-size: 120%;
	padding-top: 5%;
}
.email-textfield {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.submit-button {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
	flex-direction: row;
	padding: 3em;
	font-size: 16px;
	font-weight: bold;
	size: large;
}