.registration-container {
    
    padding: 48px 40px 36px;
    margin-top:30px ;
    width: 740px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fundoo-font-registration {
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    display: block;
    line-height: 1.4286;
    width: 74px;
    height: 25px;
    font-size: 14px;
    line-height: 1.4286;
}

.fundoo-font-registration > span{
    
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4286;
}

.f {
    color: blue;
}

.u {
    color: red;
}

.n {
    color: orange;
}

.o {
    color: green;
}

.create-account {
    padding-top: 16px;
    
}

.registration-form {

    width: 368px;
    height: 430px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.first-last-name {
    margin-top: 20px;
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstname {
    margin-right: 10px;
}
.firstname-text {
    /* text-align: center;
    align-items: center; */
    width: 100%;
    
}


#outlined-basic {
    
}

.username-textfield {
    width:100%;
}

.username {
    width:100%;
    margin-top: 40px;
  
  
}


.username-label {
  
    text-align: center;
}

.username-warning {
    opacity: 1;
   
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.password-warning {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 100%;
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

.buttom-button {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-content: flex-start;
}

.fundoo-image-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  
}

.logo-caption {
    text-align: center;
}

.password-confirm {
  
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.invalid-feedback {
    color: red;
}

.service {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	font-size: 20px !important;
}

@media screen and (max-width: 1024px) {
    .registration-container {
        border: none !important
    } 
}

@media only screen and (max-width: 414px) {
    .registration-container{
        width:100%;
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    }   
    .fundoo-image-container {
        display: none;
    }

    .first-last-name {
        margin-top: 20px;
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

